body {
    background-color: #d5d6e4;
}

#main-containerpg1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    width: 1024px;
    height: 2000px;
    margin: 0 auto;
    font-family: kepler-std-caption, serif;
    font-weight: bold;
}

#nav-url {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f6;
    width: 985px;
    margin-top: 0px;
    height: 90px;
    list-style-type: none;
    font-size: 23px;
    z-index: 100;
}

#text-decor {
    text-decoration: none;
    color: #8288ba;
}

/* logo */

#logo-background {
    background-color: #b4b7d0;
    height: 454px;
    width: 1024px;
}

#logo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
}

/* website infos, all titles, all header p-tags, all stars */

#website-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b4b7d0;
    height: 140px;
    width: 937px;
    margin-top: 32px;
}

#wis-p-tag {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 19px;
}

#titles {
    color: #8288ba;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-words {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-ptags {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-left: 10px;
    line-height: 2px;
}

.yellow-letters {
    color: #f1e5ab;
}

.span-linespacing {
    line-height: 25px;
}

.stars {
    width: 25px;
}

/* about */

#about-main-box {
    height: 662px;
    width: 937px;
    display: flex;
    justify-content: space-around;
}

#ams1 {
    position: absolute;
    top: 664px;
    left: 878px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#ams1:hover {
    position: absolute;
    top: 664px;
    left: 878px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#ams2 {
    position: absolute;
    top: 700px;
    left: 1000px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#ams2:hover {
    position: absolute;
    top: 700px;
    left: 1000px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#resume {
    border: solid 0px;
}

#right-aboutme {
    display: flex;
    border: solid 0px;
    height: 662px;
    width: 421px;
    flex-direction: column;
}

#about-me {
    display: flex;
    flex-direction: column;
    border: solid 0px;
    height: 325px;
    width: 421px;
    justify-content: space-evenly;
    background-color: #b4b7d0;
}

#me-box {
    border: solid 0px black;
    width: 100%;
    display: flex;
    height: 338px;
    justify-content: space-between;
    margin-top: 5px;
}

#photo-box {
    border: solid 0px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#photo-box:hover {
    border: solid 0px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#photo {
    border: solid 0px;
    height: 250px;
    width: 250px;
    margin-left: 179px; 
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#photo:hover {
    border: solid 1px black;
    height: 250px;
    width: 250px;
    margin-left: 179px; 
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#me-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.about-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 421px;
}

#me {
    margin: 54px;
    align-self: center;
    color: #8288ba;
}

#is{
    margin-top: 12px;
}

#fp {
    margin-top: 2px;
}

#me-text {
    margin-top: 480px;
    /* margin-left: 54px; */
}

#mes1 {
    position: absolute;
    top: 1125px;
    left: 1175px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#mes1:hover {
    position: absolute;
    top: 1125px;
    left: 1175px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#mes2 {
    position: absolute;
    top: 1385px;
    left: 1250px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#mes2:hover {
    position: absolute;
    top: 1385px;
    left: 1250px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#mes3 {
    position: absolute;
    top: 1240px;
    left: 1427px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#mes3:hover {
    position: absolute;
    top: 1240px;
    left: 1427px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* contact */

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 325px;
    background-color: #b4b7d0;
}

#contactme {
    margin-top: 15px;
}

.contact-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

p {
    border: solid 0px;
}

#phone {
    height: 45px;
    position: absolute;
    top: 1460px;
    left: 850px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#phone:hover {
    height: 45px;
    position: absolute;
    top: 1460px;
    left: 850px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* SKILLS PAGE */

#main-containerpg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    width: 1024px;
    height: 3000px;
    margin: 0 auto;
    font-family: kepler-std-caption, serif;
    font-weight: bold;
}

/* academic skills */

#as-main-box {
    height: 252px;
    width: 937px;
    display: flex;
    justify-content: space-around;
    border: solid 0px;
    flex-direction: row;
}

#ass1 {
    position: absolute;
    top: 664px;
    left: 812px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#ass1:hover {
    position: absolute;
    top: 664px;
    left: 812px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#ass2 {
    position: absolute;
    top: 702px;
    left: 1066px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#ass2:hover {
    position: absolute;
    top: 702px;
    left: 1066px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* clubs */

#clubs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 300px;
    height: 252px;
    background-color: #b4b7d0;
}

#club-top {
    margin-top: 40px;
    margin-bottom: 10px;
}

.clubs-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 300px;
}

#so {
    margin-top: 0px;
    line-height: 35px;
}

/* languages */

#languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 284px;
    height: 252px;
    background-color: #b4b7d0;
}

#lang {
    margin-top: 10px;
}

.lang-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 284px;
}

/* awards and rec */

#a-and-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 335px;
    height: 252px;
    background-color: #b4b7d0;
}

#a-r {
    margin-top: 30px;
    margin-bottom: 15px;
}

.ar-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 335px;
}

#gpa {
    margin-top: 5px;
    line-height: 35px;
}

#dhhr {
    margin-top: -15px;
    line-height: 35px;
}

/* athletic skills */

#athletic-main-box {
    height: 634px;
    width: 937px;
    display: flex;
    justify-content: space-around;
}

/* WORK PAGE */

#main-containerpg3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    width: 1024px;
    height: 3000px;
    margin: 0 auto;
    font-family: kepler-std-caption, serif;
    font-weight: bold;
}

/* education */

#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 265px;
    background-color: #b4b7d0;
}

#edu {
    margin-top: 25px;
}

.edu-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

#s {
    margin-top: 13px;
}

#rc {
    line-height: 42px;
    margin-top: 4px;
}

/* experience */

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 490px;
    background-color: #b4b7d0;
}

#re {
    margin-top: 8px;
}

.re-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

#dc {
    margin-top: 16px;
}

#y {
    margin-top: 21px;
}

#sktk {
    line-height: 40px;
    margin-top: 1px;
    margin-bottom: -1px;
}

#bs {
    margin-top: 20px;
}