body {
    background-color: #d5d6e4;
}

#main-containerpg1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    width: 1024px;
    height: 1985px;
    margin: 0 auto;
    font-family: kepler-std-caption, serif;
    font-weight: bold;
}

#nav-url {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f6;
    width: 985px;
    margin-top: 0px;
    height: 90px;
    list-style-type: none;
    font-size: 23px;
    z-index: 100;
}

#text-decor {
    text-decoration: none;
    color: #8288ba;
}

/* logo */

#logo-background {
    background-color: #b4b7d0;
    height: 454px;
    width: 1024px;
}

#logo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
}

/* website infos, all titles, all header p-tags, all stars */

#website-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b4b7d0;
    height: 140px;
    width: 937px;
    margin-top: 32px;
}

#wis-p-tag {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 19px;
}

#titles {
    color: #8288ba;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-words {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-ptags {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-left: 10px;
    line-height: 2px;
}

.yellow-letters {
    color: #f1e5ab;
}

.span-linespacing {
    line-height: 25px;
}

.stars {
    width: 25px;
}

/* about */

#about-main-box {
    height: 662px;
    width: 937px;
    display: flex;
    justify-content: space-around;
}

#ams1 {
    position: absolute;
    top: 668px;
    left: 882px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#ams1:hover {
    position: absolute;
    top: 668px;
    left: 882px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#ams2 {
    position: absolute;
    top: 698px;
    left: 998px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#ams2:hover {
    position: absolute;
    top: 700px;
    left: 1000px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#resume {
    border: solid 0px;
}

#right-aboutme {
    display: flex;
    border: solid 0px;
    height: 662px;
    width: 421px;
    flex-direction: column;
}

#about-me {
    display: flex;
    flex-direction: column;
    border: solid 0px;
    height: 325px;
    width: 421px;
    justify-content: space-evenly;
    background-color: #b4b7d0;
}

#me-box {
    border: solid 0px black;
    width: 100%;
    display: flex;
    height: 338px;
    justify-content: space-between;
    margin-top: 5px;
}

#photo-box {
    border: solid 0px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#photo-box:hover {
    border: solid 0px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#photo {
    border: solid 0px;
    height: 250px;
    width: 250px;
    margin-left: 179px; 
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#photo:hover {
    border: solid 1px black;
    height: 250px;
    width: 250px;
    margin-left: 179px; 
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#me-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.about-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 421px;
}

#me {
    margin: 54px;
    align-self: center;
    color: #8288ba;
}

#is{
    margin-top: 12px;
}

#fp {
    margin-top: 2px;
}

#me-text {
    margin-top: 480px;
}

#mes1 {
    position: absolute;
    top: 1125px;
    left: 1175px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#mes1:hover {
    position: absolute;
    top: 1125px;
    left: 1175px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#mes2 {
    position: absolute;
    top: 1385px;
    left: 1250px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#mes2:hover {
    position: absolute;
    top: 1385px;
    left: 1250px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#mes3 {
    position: absolute;
    top: 1240px;
    left: 1427px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#mes3:hover {
    position: absolute;
    top: 1240px;
    left: 1427px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* contact */

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 325px;
    background-color: #b4b7d0;
}

#contactme {
    margin-top: 15px;
}

.contact-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

p {
    border: solid 0px;
}

#phone {
    height: 45px;
    position: absolute;
    top: 1460px;
    left: 850px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#phone:hover {
    height: 45px;
    position: absolute;
    top: 1460px;
    left: 850px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* SKILLS PAGE */

#main-containerpg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    width: 1024px;
    height: 3075px;
    margin: 0 auto;
    font-family: kepler-std-caption, serif;
    font-weight: bold;
}

/* academic skills */

#as-main-box {
    height: 252px;
    width: 937px;
    display: flex;
    justify-content: space-around;
    border: solid 0px;
    flex-direction: row;
}

#aruler {
    height: 60px;
    position: absolute;
    top: 658px;
    left: 790px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(-5deg);
}

#aruler:hover {
    height: 60px;
    position: absolute;
    top: 658px;
    left: 790px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* clubs */

#clubs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 300px;
    height: 252px;
    background-color: #b4b7d0;
}

#club-top {
    margin-top: 42px;
    margin-bottom: 13px;
}

.clubs-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 300px;
}

#so {
    margin-top: 0px;
    line-height: 35px;
}

/* languages */

#languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 284px;
    height: 252px;
    background-color: #b4b7d0;
}

#lang {
    margin-top: -5px;
    margin-bottom: 10px;
}

.lang-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 284px;
}

/* awards and rec */

#a-and-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 335px;
    height: 252px;
    background-color: #b4b7d0;
}

#a-r {
    margin-top: 30px;
    margin-bottom: 6px;
}

.ar-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 335px;
}

#gpa {
    margin-top: 5px;
    line-height: 35px;
}

#dhhr {
    margin-top: -15px;
    line-height: 35px;
}

/* athletic skills */

#athletic-main-box {
    height: 634px;
    width: 937px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#belt {
    height: 45px;
    position: absolute;
    top: 1044px;
    left: 1068px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#belt:hover {
    height: 45px;
    position: absolute;
    top: 1044px;
    left: 1068px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* teams */

#teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 471px;
    height: 465px;
    background-color: #b4b7d0;
}

#team {
    margin-top: 4px;
    margin-bottom: 10px;
}

.team-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 471px;
}

#ss {
    margin-top: 1px;
    line-height: 43px;
    margin-bottom: -1px;
}

#b {
    margin-top: 18px;
}

/* awards, recognition, certs */

#awards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 456px;
    height: 465px;
    background-color: #b4b7d0;
}

#arc {
    margin-top: 27px;
}

#certs {
    margin-top: -25px;
    margin-bottom: 10px;
}

.arc-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 456px;
}

#comps {
    margin-top: 0px;
    line-height: 43px;
    margin-bottom: 0px;
}

#third {
    margin-top: 20px;
}

/* performances */

#performances {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 471px;
    height: 196px;
    background-color: #b4b7d0;
    margin-top: 5px;
}

#perform {
    margin-top: 25px;
    margin-bottom: -7px;
}

.perf-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 450px;
}

#creativity {
    line-height: 38px;
    margin-bottom: -5px;
}

/* leadership */

#leadership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 457px;
    height: 196px;
    background-color: #b4b7d0;
    margin-top: 5px;
}

#leader {
    margin-top: 0px;
    margin-bottom: 10px;
}

.perf-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 457px;
}

/* artistic skills */

#artistic-main-box {
    width: 937px;
    height: 765px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

#acs {
    margin-top: 75px;
    margin-bottom: 40px;
    color: #8288ba;
}

#mouse {
    height: 47px;
    position: absolute;
    top: 1826px;
    left: 802px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(-2deg);
}

#mouse:hover {
    height: 47px;
    position: absolute;
    top: 1826px;
    left: 802px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* tech and software */

#tech-and-soft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 272px;
    background-color: #b4b7d0;
}

#tech {
    margin-top: 40px;
    margin-bottom: -6px;
}

.tech-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

#soft {
    line-height: 42px;
}

/* comp results */

#left-artistic {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 368px;
    width: 472px;
}

#comp-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 472px;
    height: 230px;
    background-color: #b4b7d0;
}

#comp {
    margin-top: 30px;
    margin-bottom: 15px;
}

.comp-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 472px;
}

#tsa2 {
    line-height: 43px;
    margin-top: 4px;
}

/* leadership */

#aleadership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 472px;
    height: 133px;
    background-color: #b4b7d0;
}

#alead {
    margin-top: 5px;
    margin-bottom: 10px;
}

.lead-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 472px;
}

/* screenings */

#s-e-and-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 460px;
    height: 368px;
    background-color: #b4b7d0;
    margin-left: 5px;
}

#se {
    margin-top: 20px;
    margin-bottom: -25px;
}

#perf {
    margin-bottom: 10px;
}

.sep-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 457px;
}

#performer {
    line-height: 46px;
    margin-top: -2px;
    margin-bottom: -4px;
}

/* clubs */

#aclubs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 110px;
    background-color: #b4b7d0; 
}

#aclub {
    margin-top: 15px;
    margin-bottom: 2px;
}

.aclub-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

/* personal skills */

#personal-main-box {
    width: 937px;
    height: 169px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 5.5px;
}

#pss1 {
    position: absolute;
    top: 2708px;
    left: 818px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#pss1:hover {
    position: absolute;
    top: 2708px;
    left: 818px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#pss2 {
    position: absolute;
    top: 2744px;
    left: 1060px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#pss2:hover {
    position: absolute;
    top: 2744px;
    left: 1060px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

/* leadership */

#pleadership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 300px;
    height: 169px;
    background-color: #b4b7d0;
}

#plead {
    margin-top: -26px;
    margin-bottom: 10px;
}

.plead-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 300px;
}

/* skills */

#pskills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 335px;
    height: 169px;
    background-color: #b4b7d0;
}

#pskill {
    margin-top: 40px;
    margin-bottom: 10px;
}

.pskills-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 335px;
}

#skill-spacing {
    line-height: 43px;
    margin-top: 0px;
}

/* clubs */

#pclubs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 285px;
    height: 169px;
    background-color: #b4b7d0;
}

#pclub {
    margin-top: -25px;
    margin-bottom: 10px;
}

.pclubs-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 285px;
}

/* WORK PAGE */

#main-containerpg3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    width: 1024px;
    height: 2235px;
    margin: 0 auto;
    font-family: kepler-std-caption, serif;
    font-weight: bold;
}

/* education */

#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 265px;
    background-color: #b4b7d0;
}

#eruler {
    height: 60px;
    position: absolute;
    top: 658px;
    left: 829px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(-5deg);
}

#eruler:hover {
    height: 60px;
    position: absolute;
    top: 658px;
    left: 829px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#edu {
    margin-top: 25px;
}

.edu-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

#s {
    margin-top: 13px;
}

#rc {
    line-height: 42px;
    margin-top: 4px;
}

/* experience */

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 490px;
    background-color: #b4b7d0;
}

#exs1 {
    position: absolute;
    top: 1051px;
    left: 847px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#exs1:hover {
    position: absolute;
    top: 1051px;
    left: 847px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#exs2 {
    position: absolute;
    top: 1082px;
    left: 1034px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#exs2:hover {
    position: absolute;
    top: 1082px;
    left: 1034px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#re {
    margin-top: 8px;
}

.re-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 937px;
}

#dc {
    margin-top: 16px;
}

#y {
    margin-top: 21px;
}

#sktk {
    line-height: 40px;
    margin-top: 1px;
    margin-bottom: -1px;
}

#bs {
    margin-top: 20px;
}

/* community service */

#community-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    width: 937px;
    height: 365px;
    background-color: #b4b7d0;
}

#css1 {
    position: absolute;
    top: 1660px;
    left: 792px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#css1:hover {
    position: absolute;
    top: 1660px;
    left: 792px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#css2 {
    position: absolute;
    top: 1691px;
    left: 1090px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

#css2:hover {
    position: absolute;
    top: 1691px;
    left: 1090px;
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}

#cs {
    margin-top: 40px;
    margin-bottom: 10px;
}

.cs-ptag-lines {
    display: flex;
    border: solid 0px;
    width: 930px;
}

#cs1 {
    line-height: 47px;
    margin-top: 0px;
}

#cs2 {
    line-height: 47px;
    margin-top: -20px;
}

#cs3 {
    line-height: 46px;
    margin-top: -19px;
}