body {
    background-color: #d5d6e4;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    width: 1024px;
    height: 3000px;
    margin: 0 auto;
    font-family: kepler-std-caption, serif;
    font-weight: bold;
}

#nav-url {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f6;
    width: 985px;
    margin-top: 0px;
    height: 90px;
    list-style-type: none;
}

#logo-background {
    background-color: #b4b7d0;
    height: 454px;
    width: 1024px;
}

#logo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
}

#website-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    height: 140px;
    width: 937px;
    margin-top: 32px;
}

#p-tag {
    margin-top: 0px;
    margin-left: 10px;
}

#text-decor {
    text-decoration: none;
    color: #8288ba;
}